body{
    background-image: url(img/white-fox-standing-snow-daytime.jpg);
    background-size: 90%;
    font-size: 20px;
    color: #000080;
}
#container{
    background-color: #ffffff;
    border-radius: 3px;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    padding: 50px;
    margin-top: 100px;
    -webkit-box-shadow: 35px 13px 24px 7px rgba(66, 68, 90, 1);
    -moz-box-shadow: 35px 13px 24px 7px rgba(66, 68, 90, 1);
    box-shadow: 35px 13px 24px 7px rgba(66, 68, 90, 1);
}
input[type=text],
input[type=password] {
    width: 300px;
    background-color: #efefef;
    color: #666;
    border: solid 2px #ddd;
    border-radius: 5px;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
    outline: none;
}
input[type=text]:focus,
input[type=password]:focus
{
   -webkit-box-shadow: 4px -1px 39px 3px rgba(97, 99, 227, 1);
    -moz-box-shadow: 4px -1px 39px 3px rgba(97, 99, 227, 1);
    box-shadow: 4px -1px 39px 3px rgba(97, 99, 227, 1);
    background-color: #92caff;
    border: 2px solid #5522ff;
    color: black;
}


input[type=submit]
{
width: 300px;
background-color: #000080;
font-size: 20px;
color: #ffffff;
padding: 15px 10px;
margin-top: 10px;
border: none;
border-radius: 5px;
letter-spacing: 2px;
font-weight: 600;
}
input[type=submit]:focus
{
 -webkit-box-shadow: 4px -1px 39px 3px rgba(97, 99, 227, 1);
    -moz-box-shadow: 4px -1px 39px 3px rgba(97, 99, 227, 1);
    box-shadow: 4px -1px 39px 3px rgba(97, 99, 227, 1);

}
input[type=submit]:hover
{   
    background-color: #264ed3;
    cursor: pointer;
     -webkit-box-shadow: 4px -1px 39px 3px rgba(97, 99, 227, 1);
    -moz-box-shadow: 4px -1px 39px 3px rgba(97, 99, 227, 1);
    box-shadow: 4px -1px 39px 3px rgba(97, 99, 227, 1);
}
.serce{
    width: 100%;
    height: 60px;
    text-align: center;
    font-size: 33px;
    font-family: "Lato", sans-serif;
    margin-bottom: 15px;
}